<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.epsoft.demo.dao.RegConfirmMapper" >

	<resultMap id="BaseResultMap" type="com.epsoft.demo.bean.po.RegConfirm" >
    <id column="ID" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result column="HOS_ID" property="hosId" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result column="PATIENT_NO" property="patientNo" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="ACCESS_DATE" property="accessDate" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>

	<sql id="baseColumn">ID,HOS_ID,PATIENT_NO,ACCESS_DATE</sql>

	<insert id="insertConfirm" parameterType="com.epsoft.demo.bean.po.RegConfirm">
		<selectKey resultType="long" order="BEFORE" keyProperty="id">
			select SEQUENCE_REGCONFIRM_ID.nextval from dual
		</selectKey>
		insert into scott.REGCONFIRM(ID,HOS_ID,PATIENT_NO,ACCESS_DATE) values(#{id,jdbcType=BIGINT},#{hosId,jdbcType=BIGINT},#{patientNo,jdbcType=VARCHAR},#{accessDate,jdbcType=VARCHAR})
	</insert> 
	
	
	<!--<select id="getHosId" statementType="CALLABLE" resultType="long">
		{#{hosId,mode=OUT,jdbcType=BIGINT} = call scott.F_GETHOSID(#{param1,mode=IN,jdbcType=VARCHAR})}
	</select>-->

	<select id="getHosId" statementType="CALLABLE" resultType="long">
		SELECT scott.F_GETHOSID(#{param1,jdbcType=VARCHAR}) AS hosId from dual
	</select>

	
	<select id="selectByHosId" resultMap="BaseResultMap">  
		select <include refid="baseColumn"/> from scott.REGCONFIRM where HOS_ID=#{hosId}
	</select>
  </mapper>