<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子社保卡校验</title>
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{/js/siCard/siCardInfoCheck.js}"></script>
<body>

	<div>
		<h2>电子社保卡校验</h2>
		姓名:<input id="name" type="text"/></br>
		身份证:<input id="idNo" type="text"/></br>
		社保卡号:<input id="siCardNo" type="text"/></br>
	<button id="check"/>验证开始</button></br>
	
	<span id="recall_data"></span></br>
	</div>
 	
</body>
</html>